// CodeMirror
#settings-reCAPTCHACallExample-field,
#settings-googleMapsCallExample-field,
#settings-googleAdwordsConversionCallExample-field,
#settings-linkedinCallExample-field,
#settings-twitterCallExample-field,
#settings-vimeoCallExample-field,
#settings-youtubeCallExample-field
{
  margin-top: 0;

  .CodeMirror {
    height: auto !important;
  }
}


#settings-tarteaucitronInitCallExample-field {
  margin-top: 10px;
  margin-bottom: 0;

  .CodeMirror {
    height: auto !important;
  }
}

.tarteaucitron-js-settings {
    .info.warning {
        margin-right: 0.25em;
    }
}
