<h2>tarteaucitron.js official documentation is available here : <a href="https://opt-out.ferank.eu/fr/install/">https://opt-out.ferank.eu/fr/install/</a></h2>
<br>

<h2>Configuration</h2>
<hr>
{% include 'tarteaucitron-js/settings/core.twig' %}

<h2>Services</h2>
<hr>
{% include 'tarteaucitron-js/settings/services/facebook-pixel.twig' %}
{% include 'tarteaucitron-js/settings/services/google-adwords-conversion.twig' %}
{% include 'tarteaucitron-js/settings/services/google-adwords-remarketing.twig' %}
{% include 'tarteaucitron-js/settings/services/google-analytics-universal.twig' %}
{% include 'tarteaucitron-js/settings/services/google-maps.twig' %}
{% include 'tarteaucitron-js/settings/services/google-tag-manager.twig' %}
{% include 'tarteaucitron-js/settings/services/linkedin.twig' %}
{% include 'tarteaucitron-js/settings/services/recaptcha.twig' %}
{% include 'tarteaucitron-js/settings/services/twitter.twig' %}
{% include 'tarteaucitron-js/settings/services/vimeo.twig' %}
{% include 'tarteaucitron-js/settings/services/youtube.twig' %}