<h2>Configuration</h2>
<hr>
{% include 'tarteaucitron-js/settings/core.twig' %}

<h2>Services</h2>
<hr>
{% include 'tarteaucitron-js/settings/services/google-tag-manager.twig' %}
{% include 'tarteaucitron-js/settings/services/recaptcha.twig' %}
{% include 'tarteaucitron-js/settings/services/google-maps.twig' %}
{% include 'tarteaucitron-js/settings/services/google-analytics-universal.twig' %}