.info-bar {
  height: 50px;
  margin: 16px 0;
  padding: 12px 20px;
  background-color: rgb(209, 236, 241);
  color: rgb(12, 84, 96);
  border: solid 1px rgb(190, 229, 235);
  border-radius: 4px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}