{% embed "tarteaucitron-js/settings/service" with {"id": "facebook-pixel"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isFacebookPixelEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isFacebookPixelEnabled') }}</div>
        {% endif %}
        Facebook Pixel
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isFacebookPixelEnabled',
            name: 'isFacebookPixelEnabled',
            on: settings.isFacebookPixelEnabled,
            toggle: true,
            errors: settings.getErrors('isFacebookPixelEnabled'),
            disabled: 'isFacebookPixelEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "Facebook Pixel ID"|t,
            id: 'facebookPixelId',
            name: 'facebookPixelId',
            value: settings.facebookPixelId,
            required: true,
            warning: 'facebookPixelId' in overrides ? macros.configWarning('facebookPixelId'),
            errors: settings.getErrors('facebookPixelId')
        }) }}

        {{ forms.textField({
            label: "Additional Javascript"|t,
            id: 'facebookPixelMore',
            name: 'facebookPixelMore',
            instructions: "Optional - Add here your optional Facebook Pixel function",
            value: settings.facebookPixelMore,
            warning: 'facebookPixelMore' in overrides ? macros.configWarning('facebookPixelMore'),
            errors: settings.getErrors('facebookPixelMore')
        }) }}
    {% endblock %}
{% endembed %}
