{% embed "tarteaucitron/settings/service" with {"id": "google-adWords-conversion"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleAdWordsConversionEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleAdWordsConversionEnabled') }}</div>
        {% endif %}
        Google AdWords (conversion)
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleAdWordsConversionEnabled',
            name: 'isGoogleAdWordsConversionEnabled',
            on: settings.isGoogleAdWordsConversionEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleAdWordsConversionEnabled'),
            disabled: 'isGoogleAdWordsConversionEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Google AdWords (conversion) :</p>
        {{ forms.textAreaField({
            id: 'googleAdWordsConversionCallExample',
            value: "
{{ craft.tarteaucitron.googleAdwordsConversion({
    id: 'ADWORDS_CONVERSION_ID',
    label: 'LABEL',
    language: 'LANGUAGE',   {# not required #}
    format: 'FORMAT',       {# not required #}
    color: 'COLOR',         {# not required #}
    value: 'VALUE',         {# not required #}
    currency: 'CURRENCY',   {# not required #}
    custom1: 'CUSTOM1',     {# not required #}
    custom2: 'CUSTOM2',     {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
