{% embed "tarteaucitron-js/settings/services/template.twig" with {"id": "google-adwords-remarketing"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleAdwordsRemarketingEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleAdwordsRemarketingEnabled') }}</div>
        {% endif %}
        Google AdWords (remarketing)
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleAdwordsRemarketingEnabled',
            name: 'isGoogleAdwordsRemarketingEnabled',
            on: settings.isGoogleAdwordsRemarketingEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleAdwordsRemarketingEnabled'),
            disabled: 'isGoogleAdwordsRemarketingEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "Google Adwords Remarketing ID"|t,
            id: 'googleAdwordsRemarketingId',
            name: 'googleAdwordsRemarketingId',
            value: settings.googleAdwordsRemarketingId,
            required: true,
            warning: 'googleAdwordsRemarketingId' in overrides ? macros.configWarning('googleAdwordsRemarketingId'),
            errors: settings.getErrors('googleAdwordsRemarketingId')
        }) }}
    {% endblock %}
{% endembed %}
