{% embed "tarteaucitron-js/settings/services/template.twig" with {"id": "google-adwords-conversion"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleAdwordsConversionEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleAdwordsConversionEnabled') }}</div>
        {% endif %}
        Google Adwords (conversion)
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleAdwordsConversionEnabled',
            name: 'isGoogleAdwordsConversionEnabled',
            on: settings.isGoogleAdwordsConversionEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleAdwordsConversionEnabled'),
            disabled: 'isGoogleAdwordsConversionEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Google Adwords (conversion) :</p>
        {{ forms.textAreaField({
            id: 'googleAdwordsConversionCallExample',
            value: "
{{ craft.tarteaucitron.googleAdwordsConversion({
    id: 'ADWORDS_CONVERSION_ID',
    label: 'LABEL',
    language: 'LANGUAGE',   {# not required #}
    format: 'FORMAT',       {# not required #}
    color: 'COLOR',         {# not required #}
    value: 'VALUE',         {# not required #}
    currency: 'CURRENCY',   {# not required #}
    custom1: 'CUSTOM1',     {# not required #}
    custom2: 'CUSTOM2',     {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
