{% embed "tarteaucitron/settings/service" with {"id": "google-tag-manager"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleTagManagerEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleTagManagerEnabled') }}</div>
        {% endif %}
        {{ 'Google Tag Manager'|t('tarteaucitron') }}
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleTagManagerEnabled',
            name: 'isGoogleTagManagerEnabled',
            on: settings.isGoogleTagManagerEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleTagManagerEnabled'),
            disabled: 'isGoogleTagManagerEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "Google Tag Manager ID"|t('tarteaucitron'),
            id: 'googleTagManagerId',
            name: 'googleTagManagerId',
            value: settings.googleTagManagerId,
            required: true,
            warning: 'googleTagManagerId' in overrides ? macros.configWarning('googleTagManagerId'),
            errors: settings.getErrors('googleTagManagerId'),
            disabled: 'googleTagManagerId' in overrides,
        }) }}
    {% endblock %}
{% endembed %}
