{% embed "tarteaucitron/settings/service" with {"id": "google-adWords-remarketing"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleAdWordsRemarketingEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleAdWordsRemarketingEnabled') }}</div>
        {% endif %}
        {{ 'Google AdWords (remarketing)'|t('tarteaucitron') }}
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleAdWordsRemarketingEnabled',
            name: 'isGoogleAdWordsRemarketingEnabled',
            on: settings.isGoogleAdWordsRemarketingEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleAdWordsRemarketingEnabled'),
            disabled: 'isGoogleAdWordsRemarketingEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: 'Google AdWords Remarketing ID'|t('tarteaucitron'),
            id: 'googleAdWordsRemarketingId',
            name: 'googleAdWordsRemarketingId',
            value: settings.googleAdWordsRemarketingId,
            required: true,
            warning: 'googleAdWordsRemarketingId' in overrides ? macros.configWarning('googleAdWordsRemarketingId'),
            errors: settings.getErrors('googleAdWordsRemarketingId'),
            disabled: 'googleAdWordsRemarketingId' in overrides,
        }) }}
    {% endblock %}
{% endembed %}
