{% embed "tarteaucitron/settings/service" with {"id": "linkedin"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isLinkedInEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isLinkedInEnabled') }}</div>
        {% endif %}
        LinkedIn
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isLinkedInEnabled',
            name: 'isLinkedInEnabled',
            on: settings.isLinkedInEnabled,
            toggle: true,
            errors: settings.getErrors('isLinkedInEnabled'),
            disabled: 'isLinkedInEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Linkedin :</p>
        {{ forms.textAreaField({
            id: 'linkedinCallExample',
            value: "
{{ craft.tarteaucitron.linkedin({
    counter: 'top'|'right',             {# not required #}
    htmlAttributes: YOUR_HTML_OPTIONS   {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
