{% embed "tarteaucitron-js/settings/services/template.twig" with {"id": "twitter"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isTwitterEnabled' in overrides %}
           <div class="info warning">{{ macros.configWarning('isTwitterEnabled') }}</div>
        {% endif %}
        Twitter
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id:       'isTwitterEnabled',
            name:     'isTwitterEnabled',
            on:       settings.isTwitterEnabled,
            toggle:   true,
            errors:   settings.getErrors('isTwitterEnabled'),
            disabled: 'isTwitterEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Twitter :</p>
        {{ forms.textAreaField({
            id: 'twitterCallExample',
            value: "
{{ craft.tarteaucitron.twitter({
    username: 'USERNAME',
    type: 'share'|'follow',
    size: 'normal'|'large',                 {# not required #}
    countPosition: 'vertical'|'horizontal'  {# not required, 'vertical' only available with 'share' type #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
