{% embed "tarteaucitron-js/settings/service" with {"id": "vimeo"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isVimeoEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isVimeoEnabled') }}</div>
        {% endif %}
        Vimeo
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isVimeoEnabled',
            name: 'isVimeoEnabled',
            on: settings.isVimeoEnabled,
            toggle: true,
            errors: settings.getErrors('isVimeoEnabled'),
            disabled: 'isVimeoEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Vimeo :</p>
        {{ forms.textAreaField({
            id: 'vimeoCallExample',
            value: "
{{ craft.tarteaucitron.vimeo({
    videoId: 'VIDEO_ID',
    width: 'WIDTH',
    height: 'HEIGHT',
    htmlAttributes: YOUR_HTML_OPTIONS  {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
