{% embed "tarteaucitron-js/settings/service" with {"id": "youtube"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isYoutubeEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isYoutubeEnabled') }}</div>
        {% endif %}
        YouTube
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isYoutubeEnabled',
            name: 'isYoutubeEnabled',
            on: settings.isYoutubeEnabled,
            toggle: true,
            errors: settings.getErrors('isYoutubeEnabled'),
            disabled: 'isYoutubeEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Youtube :</p>
        {{ forms.textAreaField({
            id: 'youtubeCallExample',
            value: "
{{ craft.tarteaucitron.youtube({
    videoId: 'VIDEO_ID',
    width: 'WIDTH',
    height: 'HEIGHT',
    theme: 'dark'|'light',
    rel: 0|1,
    controls: 0|1,
    showinfo: 0|1,
    autoplay: 0|1,
    htmlAttributes: YOUR_HTML_OPTIONS  {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
