{% embed "tarteaucitron/settings/service" with {"id": "youtube"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isYoutubeEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isYoutubeEnabled') }}</div>
        {% endif %}
        YouTube
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isYoutubeEnabled',
            name: 'isYoutubeEnabled',
            on: settings.isYoutubeEnabled,
            toggle: true,
            errors: settings.getErrors('isYoutubeEnabled'),
            disabled: 'isYoutubeEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to instantiate Youtube :</p>
        {{ forms.textAreaField({
            id: 'youtubeCallExample',
            value: "
{{ craft.tarteaucitron.youtube({
    videoId: 'VIDEO_ID',
    width: 'WIDTH',                    {# not required, default: auto #}
    height: 'HEIGHT',                  {# not required, default: auto #}
    theme: 'dark'|'light',             {# not required, default: dark #}
    rel: 0|1,                          {# not required, default: 0 #}
    controls: 0|1,                     {# not required, default: 1 #}
    showinfo: 0|1,                     {# not required, default: 1 #}
    autoplay: 0|1,                     {# not required, default: 0 #}
    htmlAttributes: { class: 'yt' }    {# not required, default: {} #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
